<script>


    window.onload = function exampleFunction()
     { 
      let courrierOptions  =kLib.getBlankCourrierOptions();
      let newUrl = '**siteUrl**'||courrierOptions.mainHostUrl;
      let apiNameSpace = '**adminAPINamespace**';
      let themeAdminPageSlug = '**themeAdminPageSlug**';
      this.adminFormFields =  **adminFormFields**;
      kLib.initBinder();
      let binder = kLib.kBinder;
      binder.treatLoop("adminFormFields", this.adminFormFields);
      newUrl = newUrl+"/index.php/wp-json/"+apiNameSpace+"/"+themeAdminPageSlug+"_kAdminSetUp";
      courrierOptions.mainHostUrl = newUrl;
      courrierOptions.id = "courrierForForm";
      let courrierForForm = kLib.initCourrier(courrierOptions);
      let formOptions = {};
      formOptions.id = "kAdminForm";
      formOptions.submitBtnId ="kSimpleSubmit";
      formOptions.courrierTool =courrierForForm;
      let kAdminForm = kLib.initForm(formOptions);
    
     initApp(kAdminForm);
    
    console.log(kAdminForm);
    } 
    
    
    </script>
    <ul id="kAdminNav" class="nav nav-tabs">
      <li class="nav-item">
        <div class="nav-link active k-pointed" onclick="activatePage('none')"  >home</div>
      </li>
      <li class="nav-item">
        <div class="nav-link k-pointed"  onclick="activatePage('ContactFr')"   >Contact-fr</div>
      </li>
      <li class="nav-item">
        <div class="nav-link k-pointed" onclick="activatePage('ContactEn')"  >Contact-en</div>
      </li>
      <li class="nav-item">
        <div class="nav-link k-pointed" onclick="activatePage('ContactWl')"    >Contact-wl</div>
      </li>
    </ul>
    <div id="kAdminContainer" class="container mt-5">
    
        <div id="generalSettingsformPage" class="mt-5 kAdminContainer-panel active">
          <p>welcome</p>
        </div>
    
        <div id="contactSettingsformPage" class="mt-5 kAdminContainer-panel">
           
            <form id="kAdminForm"> set forms in different languages such that user for contact form captions

              <div class="form-group row" data-kbind-loop-id="adminFormFields" style="display:none">
                <label for="firstNameField_error"  data-kbind-loop-item="fieldLabel" class="col-sm-2 col-form-label">**field.fieldLabel**</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" data-kbind-loop-item="fieldName" id="**field.fieldName**" name="**field.fieldName**" required placeholder="**field.fieldLabel**">
                </div>
              </div>
               
                <div class="form-group row">
                  <div class="col-sm-10">
                    <div id="kSimpleSubmit" class="btn k-pointed btn-primary">record </div>
                  </div>
                </div>
              </form>
        </div>
    </div>